appdirs==1.4.4
astroid==2.4.2
autopep8==1.5.4
bokeh==2.2.3
cfgv==3.2.0
distlib==0.3.1
filelock==3.0.12
flake8==3.8.4
identify==1.5.10
isort==5.6.4
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mypy==0.790
mypy-extensions==0.4.3
nodeenv==1.5.0
numpy==1.19.4
packaging==20.8
Pillow==8.0.1
pre-commit==2.9.3
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
six==1.15.0
toml==0.10.2
tornado==6.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
virtualenv==20.2.2
wrapt==1.12.1
-e git+git@github.com:phaesoo/xbokeh.git@8d1141dfd4026ef11a2e0af311511af3347b263f#egg=xbokeh
